:root {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  /* Random Color Palette */
  --main-color: #fc5185;
  --second-color: #364f6b;
  --third-color: #43dde6;
  --fourth-color: #f0f0f0;
}

body {
  margin: 0;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
  background-color: var(--second-color);
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
}

.nav-list a {
  text-decoration: none;
  padding: 10px 10px;
  font-size: 2rem;
  color: var(--main-color);
  border: 0px solid transparent;
}

.nav-list a:hover {
  background-color: var(--main-color);
  color: var(--fourth-color);
  border: 0px solid var(--main-color);
  border-radius: 8px;
}
